@model DataCordonBleu_Framework.Models.Stuffer
@{
    ViewData["Title"] = "Encode";
}

<h1>Encode a Message</h1>
<div>
    @using (Html.BeginForm("Index", "Encode", FormMethod.Post)) {
        <div>
            @Html.LabelFor(model => model.Message)
            <div>
                @Html.TextAreaFor(model => model.Message)
                @Html.ValidationMessageFor(model => model.Message)
            </div>
        </div>
        <div>
            @Html.LabelFor(model => model.BlockSize)
            <div>
                @Html.TextBoxFor(model => model.BlockSize)
                @Html.ValidationMessageFor(model => model.BlockSize)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Password)
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>*@
        <button type="submit">Submit</button>
    }
</div>


<div>
    @using (Html.BeginForm("FromFile", "Encode", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        @Html.TextBox("file", "", new { type = "file" })
        @*<input type="file" id="fileImport" name="file" />*@
        <input type="submit" value="Upload" />
    }
</div>

<div>
    <span><b>When decoded the message will read:</b> @Model.Message</span>
</div>
@*@if (Model != null) {
        <span>@Model.Message</span>
        <span>@Model.Password</span>
    } else {
        <span>The Model is null.</span>
    }*@



<h3>Testing stuff to be removed</h3>
@if (Model != null && Model.FilePath != null) {
    <img class="img" src="@Model.FilePath" />
} else {
    <span>The Model.FileName is null.</span>
}
