@model DataCordonBleu_Framework.Models.Stuffer
@{
    ViewData["Title"] = "Decode";
}

<h1>Decode a Message</h1>
<div>
    <span><b>Select an image with an encoded message.</b></span>
    @using (Html.BeginForm("FromFile", "Decode", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        @Html.TextBox("file", "", new { type = "file" })
        @*<input type="file" id="fileImport" name="file" />*@
        <input type="submit" value="Upload" />
    }
</div>

<div>
    @using (Html.BeginForm("Index", "Decode", FormMethod.Post)) {
        <div>
            <span><b>Important:</b> The Block Size used to decode the message must be the same as the Block Size used to encode it.</span>
            @Html.LabelFor(model => model.BlockSize)
            <div>
                @Html.TextBoxFor(model => model.BlockSize)
                @Html.ValidationMessageFor(model => model.BlockSize)
            </div>
        </div>
        <button type="submit">Decode</button>

    }
</div>


@if (Model != null) {
    <span>The decoded mesage is:</span>
    <p>@Model.Message</p>
}

<h3>Testing stuff to be removed</h3>

@if (Model != null) {
    <span>@Model.Password</span>
} else {
    <span>The Model is null.</span>
}